@model HelloCorona.Models.CombineData
@{
    ViewBag.Title = "About";
    var student = ViewBag.HelloStudent as HelloCorona.Models.Student;
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<strong>@ViewBag.HelloStudent.RollNumber</strong>
<strong>@Model.MyProject.Name</strong>
<strong>@Model.MyStudent.RollNumber</strong>

<p>Use this area to provide additional information.</p>
